{% extends "layout.html" %}

{% block content %}
<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h2>Rocket Life Insurance</h2>
    <p>Push a button. Get life insurance.<br>Quick. Easy. Completely Online.</p>
    <ul class="actions">
      <li><a href="/q" class="button special">Term Insurance</a></li>
      <li><a href="/q" class="button special">Permanent Insurance</a></li>
    </ul>
  </div>
  <a href="#one" class="more scrolly">Learn More</a>
</section>

<!-- One -->
<section id="one" class="wrapper style4 special">
  <div class="inner">
    <header class="major">
      <h2>We have reinvented life insurance process.<br />
        to put the power into your hands.
      </h2>
      <p>This is how we are doing it. Some other catchy stuff here.</p>
    </header>
    <ul class="icons major">
      <li><span class="icon fa-apple major style1"><span class="label">Lorem</span></span></li>
      <li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
      <li><span class="icon fa-cog major style3"><span class="label">Dolor</span></span></li>
    </ul>
  </div>
</section>

<!-- Two -->
<section id="two" class="wrapper alt style2">
  <section class="spotlight">
    <div class="image"><img src="https://static.pexels.com/photos/8704/pen-idea-bulb-paper-large.jpg" alt="" /></div>
    <div class="content">
      <h2>No more paperwork</h2>
      <p>This is how we are going to remove these paperwork issues. We can definitely remove paperwork.</p>
    </div>
  </section>
  <section class="spotlight">
    <div class="image"><img src="https://static.pexels.com/photos/2830/lights-light-bulb-idea-large.jpg" alt="" /></div>
    <div class="content">
      <h2>Real solution. No gimmickss.</h2>
      <p>This is why we are the real deal. You can trust us. No doubt about that.</p>
    </div>
  </section>
  <section class="spotlight">
    <div class="image"><img src="https://static.pexels.com/photos/3501/road-street-driving-hurry-large.jpg" alt="" /></div>
    <div class="content">
      <h2>Get qualified. Fast.</h2>
      <p>We move at lightning speed because we do things efficiently. You will get these pretty fast.</p>
    </div>
  </section>
</section>

<!-- CTA -->
<section id="cta" class="wrapper style4">
  <div class="inner">
    <header>
      <h2>Life insurance</h2>
      <p>Getting life insurance is easy for contractors and independent workers.</p>
    </header>
    <ul class="actions vertical">
      <li><a href="#" class="button fit special">Get Started</a></li>
      <li><a href="#" class="button fit">Talk to us</a></li>
    </ul>
  </div>
</section>
{% endblock %}
