{% extends "layout.html" %}

{% block content %}
{% load staticfiles %}
<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h2>Rocket Life Insurance</h2>
    <p class="redBanner">Push a button<br> Get life insurance</p>
    <p class="blackTagline">Quick, Easy, and Completely Online.</p>
    <ul class="actions">
      <li><a href="/termq" class="button greenButton">Term Insurance</a></li>
      <li><a href="/permq" class="button greenButton">Permanent Insurance</a></li>
    </ul>
  </div>
  <a href="#one" class="more scrolly">Learn More</a>
</section>

<!-- One -->
<section id="one" class="wrapper style5 special">
  <div class="inner">
    <h2>We've reinvented the life insurance process<br />
        to put the power into your hands.
    </h2>
    <!--<ul class="icons major">
      <li><span class="icon fa-apple major style1"><span class="label">Lorem</span></span></li>
      <li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
      <li><span class="icon fa-cog major style3"><span class="label">Dolor</span></span></li>
    </ul>-->
  </div>
</section>

<!-- Two -->
<section id="two" class="wrapper alt style5">
  <section class="spotlight style6">
    <div class="image"><img src="{% static "images/paperwork.jpg" %}" alt="" /></div>
    <div class="content">
      <h2>Goodbye paperwork, medical exam, and pesky salesperson</h2>
      <p>Automatically, share your personal information with Sagicor Life Insurance to save time and improve accuracy.</p>
    </div>
  </section>
  <section class="spotlight style6">
    <div class="image"><img src="{% static "images/shake.jpg" %}" alt="" /></div>
    <div class="content">
      <h2>Real solution. No gimmicks.</h2>
      <p>Get a free no obligation personal quote based on your personal needs and current health.</p>
    </div>
  </section>
  <section class="spotlight style6">
    <div class="image"><img src="https://static.pexels.com/photos/3501/road-street-driving-hurry-large.jpg" alt="" /></div>
    <div class="content">
      <h2>Get Approved Fast.</h2>
      <p>Get approved for Life Insurance coverage within minutes.</p>
    </div>
  </section>
</section>

<!-- CTA -->
<section id="cta" class="wrapper style5">
  <div class="inner">
    <header>
      <h2>Ready to begin?</h2>
      <p>Getting life insurance is easy. Let us help you.</p>
    </header>
    <ul class="actions vertical">
      <li><a href="/termq" class="button greenButton">Term Insurance</a></li>
      <li><a href="/permq" class="button greenButton">Permanent Insurance</a></li>
      <li><a href="/contact" class="button fit special">Talk to us</a></li>
    </ul>
  </div>
</section>
{% endblock %}
