<!DOCTYPE HTML>
<html>
  <head>
    <title>Rocket Life Insurance</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
  </head>
  <body class="landing">
    <!-- Page Wrapper -->
    <div id="page-wrapper">
      <!-- Header -->
      <header id="header" class="alt">
        <h1><a href="index.html">ROCKET LIFE INSURANCE</a></h1>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/termq">Term Insurance</a></li>
            <li><a href="/permq">Permanent Insurance</a></li>
            <li><a href="/contact">Talk to Us</a></li>
          </ul>
        </nav>
      </header>

      <!-- Content -->
      {% block content %}
      {% endblock %}

      <!-- Footer -->
      <footer id="footer" class="white">
        <div class="row uniform legal-div">
          <div class="3u">
            <h3>About</h3>
            <ul class="icons">
              <li>Company Info</li>
              <li>Our Process</li>
            </ul>
          </div>
          <div class="3u">
            <h3>Personal Loans</h3>
            <ul class="icons">
              <li>Loan Calculator</li>
              <li>How We Calculate</li>
            </ul>
          </div>
          <div class="3u">
            <h3>Legal Stuff</h3>
            <ul class="icons">
              <li>Terms of Use</li>
              <li>Where We Cover</li>
            </ul>
          </div>
          <div class="3u">
            <h3>Follow us</h3>
            <ul class="icons">
              <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="https://www.instagram.com/rocketlifeinsurance/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
              <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
              <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            </ul>
          </div>
        
          <p class="legal-text">
            Copyright protected 2016 RockLoans Marketplace LLC. All rights reserved.

            <br>All loans are made by Cross River Bank, a New Jersey state charted commercial bank, Member FDIC, Equal Housing Lender. All loans are unsecured, fully amortizing personal loans. Eligibility for a loan is not guaranteed, and all rates and terms are subject to application review and lender approval. To qualify, a borrower must be a U.S. Citizen at least 18 years of age (in Nebraska and Alabama a borrower must be at least 19 years of age). Not all borrowers receive the lowest interest rate. To qualify for the lowest rate, you must have excellent credit and meet certain conditions. Rates and Terms are subject to change at any time without notice. 
            <br>Please refer to our Terms of Use for additional terms and conditions, and please refer to RocketLoans’ Privacy Notice and Cross River's Privacy Notice to learn more about what we do with your personal information.

            <br>RockLoans Marketplace LLC | 1001 Woodward, Ste 1750, Detroit, MI 48226
          </p>
        </div>
      </footer>
    </div>

    <!-- Scripts -->
    {% load staticfiles %}
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
    <script src="{% static 'assets/js/skel.min.js' %}"></script>
    <script src="{% static 'assets/js/util.js' %}"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>